.Episodes-select{
    cursor: pointer;
    background-color: #2a2727be;
    color: #fff;
    border: 1px solid #ffffff56;
    padding: 5px;
    margin-left: 10px;
    outline: none;
    font-weight: 100;
}